<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qlk.frozen">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity
            android:name="com.qlk.frozen.media.maker.QlkSelectActivity"
            android:screenOrientation="portrait" />
    </application>

    <!--android:name="com.android.test.runner.MultiDexTestRunner"-->
    <!--<instrumentation-->
        <!--android:name="android.test.AndroidJUnitRunner"-->
        <!--android:targetPackage="com.qlk.frozen" />-->
</manifest>
